/* Colors */

/* Fonts */

@font-face {
  font-family: "Montaga";
  font-display: swap;
  src: url("../fonts/Montaga-Regular.woff") format("woff"), url("../fonts/Montaga-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal-Regular";
  font-display: swap;
  src: url("../fonts/Tajawal-Regular.woff") format("woff"), url("../fonts/Tajawal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 20px;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.lock {
  overflow: hidden;
}

.hide {
  display: none;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  position: relative;
  z-index: 5;
  background-color: #fff;
  padding-top: 12rem;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  font-family: "Montserrat", sans-serif;
}

.header.fixed {
  position: fixed;
  z-index: 50;
  background-color: #2B2A2C;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header.fixed .header__inner {
  margin: 1rem 5rem;
}

.header.fixed .line__scroll {
  display: block;
}

.header:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.line__scroll {
  display: none;
  height: 6px;
  background-color: #D5966B;
  position: relative;
  top: 0;
  left: 0;
  z-index: 51;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 5rem 0 3rem;
}

.me {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.image_avatar {
  display: block;
  max-width: 100%;
  height: auto;
}

.name {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.3;
}

.header__burger {
  display: none;
}

.intro {
  height: 100vh;
}

.intro__video {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__video:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(40,70,214,0.2);   */
}

.video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: -100px;
  background-color: #D5966B;
}

.intro__content {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__title {
  font-size: 7rem;
  opacity: 0;
  -webkit-transform: translate(0, 120px);
      -ms-transform: translate(0, 120px);
          transform: translate(0, 120px);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.intro__title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.intro__subtitle {
  font-size: 5rem;
  opacity: 0;
  -webkit-transform: translate(0, 120px);
      -ms-transform: translate(0, 120px);
          transform: translate(0, 120px);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.intro__subtitle.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .8s ease .4s;
  -o-transition: all .8s ease .4s;
  transition: all .8s ease .4s;
}

.intro__arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  cursor: pointer;
  fill: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow__svg {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0;
  position: relative;
  -webkit-animation: arrow-anim .7s linear 1.05s infinite alternate;
          animation: arrow-anim .7s linear 1.05s infinite alternate;
}

.arrow__svg_sm {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  top: 1rem;
}

.arrow__svg_first {
  -webkit-animation: arrow-anim .7s linear .7s infinite alternate;
          animation: arrow-anim .7s linear .7s infinite alternate;
}

.arrow__svg_second {
  top: 1.5rem;
  width: 20px;
  height: 20px;
  -webkit-animation: arrow-anim .7s linear .35s infinite alternate;
          animation: arrow-anim .7s linear .35s infinite alternate;
}

.arrow__svg_third {
  top: 1.75rem;
  width: 12px;
  height: 12px;
  -webkit-animation: arrow-anim .7s linear infinite alternate;
          animation: arrow-anim .7s linear infinite alternate;
}

@-webkit-keyframes arrow-anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes arrow-anim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav {
  width: 55%;
  margin-left: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.nav__item {
  position: relative;
  margin: 0;
  padding: .3rem .7rem;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .3s linear 0s;
  -o-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}

.nav__item.active {
  background-color: #D5966B;
}

.nav__item:hover:after {
  height: 100%;
  opacity: 1;
}

.nav__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #D5966B;
  -webkit-transition: height .3s linear, opacity .3s linear;
  -o-transition: height .3s linear, opacity .3s linear;
  transition: height .3s linear, opacity .3s linear;
}

.nav__link {
  position: relative;
  z-index: 10;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  color: #2B2A2C;
  line-height: 1;
}

.title span {
  color: #D5966B;
}

.title_center {
  text-align: center;
}

.subtitle {
  width: 70%;
  margin: 1rem auto 0;
}

.about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 450px;
  grid-template-columns: 1fr 450px;
}

.about__content {
  opacity: 0;
  -webkit-transform: translate(120px, 0);
      -ms-transform: translate(120px, 0);
          transform: translate(120px, 0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.about__content.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__text {
  margin-top: 2rem;
  text-align: justify;
  line-height: 1.2;
}

.my__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.hobby__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
  grid-template-columns: 400px 1fr;
  padding-bottom: 1rem;
}

.hobby__text {
  margin-top: 2rem;
  text-align: justify;
  line-height: 1.2;
}

.hobby__list {
  position: relative;
  margin: -2rem 0;
}

.hobby__content {
  opacity: 0;
  -webkit-transform: translate(-120px, 0);
      -ms-transform: translate(-120px, 0);
          transform: translate(-120px, 0);
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.hobby__content.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hobby__item {
  display: block;
  text-decoration: none;
  width: 500px;
  height: 300px;
  background-color: #D5966B;
  opacity: .3;
  cursor: pointer;
  border-radius: 50px;
  border-color: #2B2A2C;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity .3s linear, position .3s linear, border .3s linear, -webkit-transform .3s linear;
  transition: opacity .3s linear, position .3s linear, border .3s linear, -webkit-transform .3s linear;
  -o-transition: opacity .3s linear, transform .3s linear, position .3s linear, border .3s linear;
  transition: opacity .3s linear, transform .3s linear, position .3s linear, border .3s linear;
  transition: opacity .3s linear, transform .3s linear, position .3s linear, border .3s linear, -webkit-transform .3s linear;
}

.hobby__item:nth-child(2) {
  top: 60px;
  right: 30px;
  z-index: 6;
  opacity: .5;
}

.hobby__item:nth-child(3) {
  top: 120px;
  right: 60px;
  z-index: 7;
  opacity: .7;
}

.hobby__item:nth-child(4) {
  top: 180px;
  right: 90px;
  z-index: 8;
  opacity: .9;
}

.hobby__item:hover {
  opacity: 1;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  border-top: 10px solid #2B2A2C;
}

.hobby__title {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #2B2A2C;
  text-align: center;
}

.hobby__item__text {
  padding: 1rem;
  text-align: justify;
  font-size: .9rem;
}

.aims {
  padding-top: 12rem;
}

.aims__content {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aims__item {
  margin: 0 auto;
  position: relative;
}

.aims__item:after {
  content: "";
  display: block;
  width: 5px;
  height: 150px;
  margin: 0 auto;
  background-color: #2B2A2C;
}

.aims__item:last-child:after {
  display: none;
}

.aims__part {
  width: 250px;
  height: 250px;
  border: 15px solid #2B2A2C;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: border .3s linear;
  -o-transition: border .3s linear;
  transition: border .3s linear;
}

.aims__part:hover {
  border-color: #D5966B;
}

.aims__part:hover .aim__text {
  opacity: 1;
  -webkit-transform: translateX(-280px);
      -ms-transform: translateX(-280px);
          transform: translateX(-280px);
}

.aims__part:hover .aim__text_left {
  -webkit-transform: translateX(320px);
      -ms-transform: translateX(320px);
          transform: translateX(320px);
}

.aims__image {
  width: 100%;
  position: relative;
  z-index: 25;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.aims__image:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.aim__text {
  display: block;
  width: 120%;
  position: absolute;
  top: 60px;
  right: 0;
  color: #2B2A2C;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity .5s linear, -webkit-transform .5s linear;
  transition: opacity .5s linear, -webkit-transform .5s linear;
  -o-transition: opacity .5s linear, transform .5s linear;
  transition: opacity .5s linear, transform .5s linear;
  transition: opacity .5s linear, transform .5s linear, -webkit-transform .5s linear;
}

.aim__text_left {
  text-align: left;
}

.works {
  padding: 8rem 0;
  margin-top: 8rem;
  background-color: #F7F7F7;
}

.works__inner {
  margin-top: 5rem;
  padding: 0 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
  overflow: hidden;
}

.works__item {
  width: 350px;
  overflow: hidden;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 5px;
  text-decoration: none;
  color: #2B2A2C;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.works__item:nth-child(odd) {
  -webkit-transform: translate(-120px, 0);
      -ms-transform: translate(-120px, 0);
          transform: translate(-120px, 0);
}

.works__item:nth-child(even) {
  -webkit-transform: translate(120px, 0);
      -ms-transform: translate(120px, 0);
          transform: translate(120px, 0);
}

.works__item.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.works__item:hover .works__content {
  background-color: #DDAC8C;
}

.works__photo {
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.works__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.works__content {
  padding: 2rem 0;
  background-color: #fff;
  text-align: center;
  font-family: "Tajawal", sans-serif;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.works__title {
  font-size: .9rem;
  font-weight: 700;
}

.works__subtitle {
  margin-top: .3rem;
  font-size: .8rem;
  font-style: italic;
  color: #8D8D8D;
}

.write {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.form {
  margin-top: 3rem;
}

.form__inner {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.form__item {
  margin: 0 1rem;
}

.form__btn {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  margin-top: 2rem;
  text-align: center;
}

.button {
  padding: .6rem 3rem;
  background-color: #D5966B;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 6px 0 #C06F39;
          box-shadow: 0 6px 0 #C06F39;
  color: #fff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  top: 0;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.button:hover {
  background-color: #DCAB8D;
}

.button:active {
  top: 6px;
  -webkit-box-shadow: 0 0px 0 #C06F39;
          box-shadow: 0 0px 0 #C06F39;
  background-color: #C06F39;
}

.label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-left: 1rem;
  font-weight: 700;
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: .7rem  1rem;
  border: 1px solid #2B2A2C;
  border-radius: 1.8rem;
  color: #2B2A2C;
  line-height: 1.2;
  -webkit-transition: border .3s linear;
  -o-transition: border .3s linear;
  transition: border .3s linear;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #CB7F4D;
}

.input:hover,
.textarea:hover {
  border-color: #CB7F4D;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  color: #2B2A2C;
}

.input::-moz-placeholder, .textarea::-moz-placeholder {
  color: #2B2A2C;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  color: #2B2A2C;
}

.input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  color: #2B2A2C;
}

.input::placeholder,
.textarea::placeholder {
  color: #2B2A2C;
}

.textarea {
  resize: none;
}

.footer {
  background-color: #2B2A2C;
  position: relative;
  z-index: 5;
}

.footer__inner {
  width: 100%;
  padding: 1.7rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: #8D8D8D;
}

.footer__link {
  padding: 0 .5rem;
  color: #8D8D8D;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.social__item {
  margin: 0 .3rem;
  width: 40px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.social__item img {
  width: 40px;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
}

.social__item img:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.modal {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(213, 150, 107, 0.7);
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal.show .modal__content {
  opacity: 1;
  -webkit-transform: perspective(0) translate(0, 0) rotateX(0deg);
          transform: perspective(0) translate(0, 0) rotateX(0deg);
}

.modal__dialog {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.modal__content {
  background-color: #fff;
  max-width: 1200px;
  position: relative;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, 100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, 100%) rotateX(45deg);
}

.modal__close {
  width: 39px;
  height: 39px;
  position: absolute;
  top: .9rem;
  right: .9rem;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.modal__close:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__resume {
  padding: 4rem 6rem;
}

.modal__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2B2A2C;
  text-align: center;
}

.download {
  text-align: center;
}

.download a {
  display: inline-block;
  text-decoration: none;
  padding: .6rem 3rem;
  background-color: #6A696B;
  -webkit-box-shadow: 0 6px 0 #4C4C4C;
          box-shadow: 0 6px 0 #4C4C4C;
  border-radius: 1.5rem;
  color: #fff;
  font-weight: 700;
  position: relative;
  top: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.download a:hover {
  background-color: #939393;
}

.download a:active {
  top: 3px;
  -webkit-box-shadow: 0 3px 0 #C06F39;
          box-shadow: 0 3px 0 #C06F39;
  background-color: #DCAB8D;
}

.modal__timeline {
  margin: 3rem auto;
  max-width: 768px;
  font-size: 1.3rem;
}

.timeline {
  margin-bottom: 4rem;
}

.timeline__title {
  margin-bottom: 1rem;
  font-weight: 700;
}

.timeline__inner {
  padding-left: 4rem;
}

.timeline__item {
  margin-bottom: .9rem;
  line-height: 1.2;
}

/* Progress Bar */

.progress__bar {
  margin-bottom: 2.6rem;
  padding-left: 4rem;
  display: block;
  width: 100%;
}

.progress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .9rem;
}

.progress__inner {
  padding-left: 1.2rem;
}

.progress__elem {
  width: 400px;
  height: 10px;
  background-color: #EFEFEF;
}

.progress__value {
  height: 100%;
  background-color: #6A696B;
  -webkit-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
}

.modal__hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/modal/guitar.jpg) right center no-repeat;
  background-size: 40%;
}

.modal__part {
  width: 60%;
  padding: 5rem 3rem;
  color: #2B2A2C;
}

.modal__hobby__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.modal__text {
  text-align: justify;
}

.button__return {
  position: fixed;
  right: 2rem;
  bottom: -7rem;
  z-index: 10;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.button__return.active {
  bottom: 2rem;
}

.arrow__return {
  padding: .6rem;
  width: 50px;
  height: 50px;
  fill: #fff;
  background-color: #D5966B;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all .3s linear 0s;
  -o-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
}

.arrow__return:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #2B2A2C;
}

::-webkit-scrollbar-thumb {
  background-color: #D5966B;
  border-radius: 15px;
  border: 3px solid #2B2A2C;
}

@media (min-width: 1500px) and (min-height: 970px) {
  .video {
    top: 0;
  }
}

@media (max-width: 1500px) {
  .me {
    width: 30%;
  }

  .video {
    top: 0;
  }

  .nav {
    width: 70%;
  }

  .about__inner {
    overflow: hidden;
  }
}

@media (max-width: 1410px) {
  .intro__title {
    font-size: 6rem;
  }

  .intro__subtitle {
    font-size: 4rem;
  }
}

@media (max-width: 1300px) {
  .nav {
    margin-left: 2rem;
  }
}

@media (max-width: 1230px) {
  .about__inner {
    padding: 0 2rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .about__content {
    width: 100%;
  }

  .about__text {
    font-size: .9rem;
    line-height: 1.5;
  }

  .hobby__inner {
    padding: 0 2rem 1rem;
    grid-column-gap: 2rem;
  }

  .hobby__list {
    height: 400px;
  }

  .hobby__item {
    width: 400px;
    height: 200px;
    border-radius: 40px;
  }

  .hobby__text {
    font-size: .9rem;
    line-height: 1.5;
  }

  .aims {
    padding-top: 8rem;
  }

  .footer__inner {
    padding: 1rem;
    font-size: .9rem;
  }

  .footer__link {
    padding: 0 .3rem;
  }

  .modal__hobby {
    background: url(../images/modal/guitar.jpg) right 1.5rem center no-repeat;
    background-size: 27%;
  }

  .modal__part {
    width: 70%;
  }

  .button__return.active {
    bottom: 5rem;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .header.fixed .header__inner {
    margin: 1rem 2rem;
  }

  .header__inner {
    margin: 1.5rem 2rem 0;
  }
}

@media (max-width: 1080px) {
  .name {
    font-size: 1rem;
  }

  .nav__link {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .hobby__inner {
    -ms-grid-columns: 350px 1fr;
    grid-template-columns: 350px 1fr;
  }

  .hobby__item {
    width: 250px;
    height: 150px;
    border-radius: 30px;
  }

  .hobby__content {
    margin-bottom: 3rem;
  }

  .modal__title {
    font-size: 2rem;
  }

  .modal__timeline {
    margin: 3rem 2rem;
  }

  .modal__timeline {
    font-size: 1.2rem;
  }

  .progress__elem {
    width: 350px;
  }

  .download {
    margin-top: 4rem;
  }
}

@media (max-width: 950px) {
  .footer__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 940px) {
  .intro__title {
    font-size: 5rem;
  }

  .intro__subtitle {
    font-size: 3rem;
  }

  .intro__video:after {
    display: none;
  }
}

@media (max-width: 915px) {
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem 0 1rem 2rem;
    text-align: left;
  }

  .header.fixed .header__inner {
    margin: 1rem 0 1rem 2rem;
  }

  .header.fixed:before {
    display: block;
    background-color: #2B2A2C;
  }

  .header__burger {
    display: block;
    position: relative;
    right: 2rem;
    width: 40px;
    height: 25px;
    z-index: 50;
  }

  .header__burger span,
  .header__burger:before,
  .header__burger:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #fff;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  .header__burger:before {
    top: 0;
    width: 90%;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    top: 45%;
    width: 70%;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
    width: 100%;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }

  .me {
    width: 60%;
  }

  .nav {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #D5966B;
    padding-top: 6rem;
    margin: 0;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }

  .nav.active {
    top: 0;
  }

  .nav__item {
    padding: 1.3rem 1rem;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    outline: none;
  }

  .nav__item:hover {
    background-color: #2B2A2C;
  }

  .nav__item:focus {
    outline: none;
  }

  .nav__item:after {
    display: none;
  }

  .button__return {
    display: none;
  }
}

@media (max-width: 900px) {
  section {
    padding-top: 8rem;
  }

  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: .9rem;
  }

  .about__text {
    margin-top: 1rem;
  }

  .aims__item:after {
    height: 125px;
  }

  .aim__text {
    top: 20px;
    font-size: .9rem;
  }

  .aims__part {
    width: 200px;
    height: 200px;
  }

  .aims__part:hover .aim__text {
    -webkit-transform: translateX(-210px);
        -ms-transform: translateX(-210px);
            transform: translateX(-210px);
  }

  .aims__part:hover .aim__text_left {
    -webkit-transform: translateX(260px);
        -ms-transform: translateX(260px);
            transform: translateX(260px);
  }

  .works {
    margin-top: 4rem;
  }

  .works__inner {
    margin-top: 3rem;
    grid-column-gap: 20px;
  }

  .works__item {
    width: 300px;
  }

  .works__photo {
    height: 500px;
  }

  .write {
    padding-bottom: 5rem;
    padding-top: 7rem;
  }

  .modal {
    padding: 0rem;
  }

  .modal__resume {
    padding: 2rem;
  }

  .modal__hobby {
    background: none;
    background-size: 30%;
  }

  .modal__part {
    width: 100%;
    padding: 5rem 3rem;
  }
}

@media (max-width: 800px) {
  section {
    padding-top: 5.5rem;
  }

  .title {
    text-align: center;
  }

  .my__image {
    margin: 0 auto;
  }

  .about__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__content {
    margin-bottom: 3rem;
    padding: 0 2rem;
    -webkit-transform: translate(0, 120px);
        -ms-transform: translate(0, 120px);
            transform: translate(0, 120px);
  }

  .hobby__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hobby__content {
    -webkit-transform: translate(0, 120px);
        -ms-transform: translate(0, 120px);
            transform: translate(0, 120px);
  }

  .hobby__text {
    margin-top: 1rem;
    padding: 0 2rem;
  }

  .hobby__item {
    width: 400px;
    height: 200px;
  }

  .hobby__list {
    margin: 0;
  }
}

@media (max-width: 790px) {
  .works__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    overflow: visible;
  }

  .works__item {
    opacity: 1;
  }

  .works__item:nth-child(odd) {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .works__item:nth-child(even) {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 750px) {
  .modal__timeline {
    margin: 3rem 1rem;
  }

  .modal__timeline {
    font-size: 1.1rem;
  }

  .progress__elem {
    width: 300px;
  }
}

@media (max-width: 700px) {
  .aims {
    padding-top: 5.5rem;
  }

  .aims__item:after {
    height: 100px;
  }

  .aim__text {
    font-size: .7rem;
  }

  .aims__part {
    width: 150px;
    height: 150px;
    border-width: 10px;
  }

  .aims__part:hover .aim__text {
    -webkit-transform: translateX(-160px);
        -ms-transform: translateX(-160px);
            transform: translateX(-160px);
  }

  .aims__part:hover .aim__text_left {
    -webkit-transform: translateX(190px);
        -ms-transform: translateX(190px);
            transform: translateX(190px);
  }
}

@media (max-width: 650px) {
  .modal__timeline {
    font-size: 1rem;
  }

  .progress__elem {
    width: 250px;
  }

  .progress__bar {
    padding-left: 2rem;
  }

  .timeline__inner {
    padding-left: 2rem;
  }
}

@media (max-width: 630px) {
  .intro__title {
    font-size: 4rem;
  }

  .intro__subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 570px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: .7rem;
  }

  .intro__content {
    padding: 0 1rem;
    line-height: 1.2;
  }

  .about__content {
    padding: 0;
    margin-bottom: 1.5rem;
  }

  .form__inner {
    width: 90%;
    display: block;
  }

  .form__item {
    margin-bottom: 1rem;
  }

  .label {
    font-size: .8rem;
  }

  .footer__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__item:nth-child(2) {
    margin-top: 1rem;
  }
}

@media (max-width: 550px) {
  .hobby__item {
    right: 0%;
    width: 100%;
  }

  .hobby__item:nth-child(2) {
    right: 0%;
  }

  .hobby__item:nth-child(3) {
    right: 0%;
  }

  .hobby__item:nth-child(4) {
    right: 0%;
  }

  .hobby__text {
    padding: 0 1rem;
  }

  .modal__hobby {
    height: 100%;
  }
}

@media (max-width: 520px) {
  .modal__timeline {
    font-size: .8rem;
  }

  .progress__bar {
    padding-left: 0;
  }

  .timeline__inner {
    padding-left: 1;
  }

  .download a {
    padding: .6rem 1.5rem;
  }
}

@media (max-width: 500px) {
  .aims__item:after {
    height: 70px;
  }

  .aim__text {
    top: 0;
    font-size: .5rem;
    width: 100%;
  }

  .aims__part {
    width: 100px;
    height: 100px;
    border-width: 5px;
  }

  .aims__part:hover .aim__text {
    -webkit-transform: translateX(-105px);
        -ms-transform: translateX(-105px);
            transform: translateX(-105px);
  }

  .aims__part:hover .aim__text_left {
    -webkit-transform: translateX(105px);
        -ms-transform: translateX(105px);
            transform: translateX(105px);
  }

  .modal__dialog {
    padding: 0;
  }

  .modal__content {
    height: 100%;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .intro__content {
    line-height: 1.5;
  }

  .intro__title {
    font-size: 3rem;
  }

  .intro__subtitle {
    font-size: 1rem;
  }

  .works__inner {
    margin-top: 2rem;
    padding: 0;
  }

  .works__item {
    width: 230px;
  }

  .works__photo {
    height: 380px;
  }

  .works__title {
    font-size: .8rem;
  }

  .works__subtitle {
    font-size: .7rem;
  }

  .works__content {
    padding: 1rem 1.5rem;
  }

  .progress__elem {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .header__inner {
    margin: 1rem 0 1rem 1.5rem;
  }

  .name {
    font-size: .8rem;
    margin-left: .7rem;
  }

  .hobby__text {
    margin-bottom: .5rem;
    padding: 0;
  }

  .hobby__item {
    height: 150px;
  }

  .progress__elem {
    width: 150px;
  }

  .modal__timeline {
    margin: 2rem 1rem;
  }
}

@media (max-width: 340px) {
  .progress__elem {
    width: 100px;
  }
}

@media (max-height: 500px) {
  .intro__arrow {
    display: none;
  }

  .intro__title,
  .intro__subtitle {
    opacity: 1;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.webp .modal__hobby { background: url(../images/modal/guitar.webp) right center no-repeat; }

@media (max-width: 1230px) {

  .webp .modal__hobby { background: url(../images/modal/guitar.webp) right 1.5rem center no-repeat; }
}